@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1{
    width: 100%;
    text-align: center;
}

h2{
    margin: 20px;
}

form{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

form .form_container{
    display: flex;
    justify-content: space-around;
}
label{
    margin: 8px 0;
}
form .form_container .form-col-1{
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}

form .form_container input{
    border: 1px gray solid;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    border-radius: 8px;
    padding: 0 5px;
}

.reg-button{
    text-align: center;
}

#nextLink{
    float: center;
    margin-left: 20px;
    margin-top: 60px;
    width: 10%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
}

#signupButton{
    width: 15%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
}

#signupButton:hover, #nextLink:hover{
    background: gray;
}

input[type="submit"]{
    width: 15%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    
}

input::placeholder{
    color: rgb(214, 211, 211)
}





